# Defining attributes per path.
#
# For more see: https://git-scm.com/docs/gitattributes

# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

.editorconfig     text export-ignore linguist-language=INI
.gitattributes    text export-ignore
.gitignore        text export-ignore
.gitmodules       text export-ignore
.
.github           export-ignore

*.asc             filter=gpg diff=gpg linguist-language=Public Key
*.md              linguist-detectable=true linguist-documentation=false

*.webmanifest     diff=json linguist-language=JSON

LICENSE           text eol=lf
README.md         linguist-detectable=false linguist-documentation=true text eol=lf
