<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.url == "/" %}
      {{ site.data.settings.basic_settings.site_title }} – {{ page.title }}
    {% else %}
      {{ page.title }} – {{ site.data.settings.basic_settings.site_title }}
    {% endif %}
  </title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}">
  <meta name="twitter:image:src" content="{{ site.data.settings.basic_settings.site_baseurl }}{{ page.featured_image }}">

  <meta property="og:title" content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}">
  <meta property="og:image" content="{{ site.data.settings.basic_settings.site_baseurl }}{{ page.featured_image }}">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% if site.data.settings.font_settings.font_embed %}
    {{ site.data.settings.font_settings.font_embed }}
  {% endif %}

  <link rel="stylesheet" href="{{ site.data.settings.basic_settings.site_baseurl }}/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/g/highlight.js@9.11.0(styles/atom-one-light.min.css)">

  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/solid.js" integrity="sha384-GXi56ipjsBwAe6v5X4xSrVNXGOmpdJYZEEh/0/GqJ3JTHsfDsF8v0YQvZCJYAiGu" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/brands.js" integrity="sha384-0inRy4HkP0hJ038ZyfQ4vLl+F4POKbqnaUB6ewmU4dWP0ki8Q27A0VFiVRIpscvL" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/fontawesome.js" integrity="sha384-NY6PHjYLP2f+gL3uaVfqUZImmw71ArL9+Roi9o+I4+RBqArA2CfW1sJ1wkABFfPe" crossorigin="anonymous"></script>

  {% if site.data.settings.advanced_settings.custom_styles %}
    <style>{{ site.data.settings.advanced_settings.custom_styles }}</style>
  {% endif %}

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85434340-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-85434340-4');
  </script>

  {% if site.data.settings.advanced_settings.header_js %}
    {{ site.data.settings.advanced_settings.header_js }}
  {% endif %}
</head>
