{% if page.author %}
  {% assign page_author = page.author %}
{% else %}
  {% assign page_author = site.author.name %}
{% endif %}

{% capture directory_url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}

{% if page.featured_image %}
  {% assign featured_image = directory_url | append: page.featured_image %}
{% else %}
  {% assign featured_image = directory_url | append: '/assets/images/blog-logo.jpg' %}
{% endif %}

{% if page.excerpt %}
  {% assign page_description = page.excerpt | strip_html | strip_newlines | truncate: 150 %}
{% else %}
  {% assign page_description = site.description | strip_html | strip_newlines | truncate: 150 %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}"
  },
  "headline": "{{ page.title }}",
  "image": [
    "{{ featured_image }}"
  ],
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "{{ page_author }}",
    "url": "{{ directory_url }}/about.html"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ page_author }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ directory_url }}/assets/images/blog-logo.jpg"
    }
  },
  "description": "{{ page_description }}"
}
</script>
