{% comment %}
Target for toggling the sidebar `.sidebar-checkbox` is for regular styles,
`#sidebar-checkbox` for  behavior.
{% endcomment %}

<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<aside class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">
      Блог
    </a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null and node.url != "/404.html" and node.url != "/thanks.html" %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">
            {{ node.title }}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- The code below is used for manually entered links  -->
    <span style="cursor:pointer;" onclick="let hypothesis = document.createElement('script');
      hypothesis.setAttribute('src','https://hypothes.is/embed.js');
      document.head.appendChild(hypothesis);">
      <a class="sidebar-nav-item">
        Включить аннотации
      </a>
    </span>

    <!--
    <a class="sidebar-nav-item" href="https://via.hypothes.is/{{ site.url }}{{ site.baseurl }}{{page.url}}/" data-proofer-ignore>
      Включить аннотации
    </a>
    <script src="https://hypothes.is/embed.js" async></script>
    -->

    <a class="sidebar-nav-item" href="https://github.com/{{ site.github_username }}" target="_blank">GitHub профиль</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; Сергей Яковлев, 2018-{{ 'now' | date: "%Y" }}.
      Если не указано иного, всё содержимое сайта доступно под лицензией
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ru" target="_blank">
        CC BY-NC-SA 4.0
      </a>.
    </p>
  </div>
</aside>
