<article class="blog-post">
  <section>
    <header>
      <h2 class="blog-post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      <div class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%Y.%m.%d" }}
        </time>
      </div>
    </header>

    <div class="blog-post-content">
      <p>
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}">
          Читать далее...
        </a>
      </p>
    </div>
  </section>
</article>
