{{ define "main" }}

<section class="introduction">
    <div class="container">
        <h1 class="accent">404</h1>
        <p><strong>Страница не найдена.</strong></p>
    </div>

    <p>Что-то пошло не так. Страница, которую вы запрашиваете, не существует.</p>

    <p>
        Страница или файл, который вы запросили, не найдены на моем сайте.
        Вполне возможно, что вы щёлкнули по ссылке, которая устарела,
        или неправильно набрали адрес.
    </p>
    <p>
        Если вы набрали адрес, пожалуйста, проверьте правильность его написания.
    </p>
    <p>
        Если вы откуда-либо проследовали по ссылке, пожалуйста, свяжитесь со мной
        <a href="{{ "/contact.html"  | relURL }}">используя контактную форму</a>.
        Сообщите мне, откуда вы пришли и что должно было быть по ссылке, и я сделаю
        всё возможное, чтобы это исправить.
    </p>
</section>

<hr>

{{- partial "mini-toc" . -}}

{{ end }}
