<!doctype html>
<html lang="ru">

{% include head.html %}

<body class="theme-base-{{ site.color-scheme }}">
  <!-- This if statement decides which sidebar to use -->
  {% if page.toc %}
    {% comment %}
      TODO: Implement me
    {% endcomment %}
    {% include sidebar-toc.html %}
  {% else %}
    {% include sidebar.html %}
  {% endif %}

  <!--
  `wrap` is the content to shift when toggling the sidebar.
  We wrap the content to avoid any CSS collisions with our real content.
  -->
  <div class="wrap">
    <header class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="На главную">{{ site.title | newline_to_br }}</a>
          <br><small>{{ site.tagline }}</small>
        </h3>
      </div>
    </header>

    <main class="container content" id="main">
      {{ content }}
    </main>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <script src="{{ site.baseurl }}/assets/js/ed.js"></script>
</body>
</html>
