<!doctype html>
<html class="no-js" lang="ru">

  {% include head.html %}

<body class="loading{% if site.data.settings.advanced_settings.ajax_loading == true %} ajax-loading{% endif %}"
      data-site-url="{{ site.url }}"
      data-page-url="{{ page.url | replace: 'index.html', '' }}">

  {% include header.html %}
  {% include loader.html %}

  <div class="page-loader"></div>

    <div class="page">
      <div class="page__content"
           data-page-title="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}"
           data-image="{{ page.featured_image }}">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ site.data.settings.basic_settings.site_baseurl }}/js/journal-min.js"></script>

    {% if site.data.settings.advanced_settings.footer_js %}
      {{ site.data.settings.advanced_settings.footer_js }}
    {% endif %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/g/highlight.js@9.11.0(highlight.min.js+languages/abnf.min.js+languages/bash.min.js+languages/css.min.js+languages/dockerfile.min.js+languages/javascript.min.js+languages/json.min.js+languages/nginx.min.js+languages/php.min.js+languages/sql.min.js+languages/twig.min.js+languages/xml.min.js+languages/yaml.min.js+languages/zephir.min.js)"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
