---
layout: default
---

<div class="articles">
  <h1 class="page-title">Блог</h1>
  {{ content }}

  <section class="blog-list">
    {% for post in paginator.posts %}
    <article class="blog-post">
      <header>
        <h2 class="blog-post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title | escape }}
          </a>
        </h2>
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%Y.%m.%d" }}
          </time>
        </div>
      </header>

        <div class="blog-post-content">
          <p>
            {{ post.excerpt }}
            <a href="{{ site.baseurl }}{{ post.url }}" class="button">
                Читать далее...
            </a>
          </p>
        </div>
    </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Следующие статьи</a>
      </li>
      {% endif %}

      {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Предыдущие статьи &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </section>
</div>


