---
layout: default
---

<div class="articles">
  <h1 class="page-title">Блог</h1>
  {{ content }}

  <section class="blog single">
    {% for post in paginator.posts %}
    <article class="blog-post">
        <header>
            <h2 class="blog-post-title">
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h2>
            <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%Y.%m.%d" }}
            </time>
        </header>

        <div class="blog-post-content">
            <p>{{ post.excerpt }}</p>
            <p>
                <a href="{{ post.url | relative_url }}" class="button">
                    Далее &rarr;
                </a>
            </p>
        </div>
    </article>
    {% endfor %}
  </section>
</div>


